<div class="col-md-8 col-md-offset-2">
 <div class="form-group">
   <table class="table">
   <thead>
     <tr>
       <th>#Permanent Number</th>
       <th>Name</th>
       <th>Date of Birth</th>
       <th>Nationality</th>
       <th>Web (URL)</th>
       <th>Web (Mobile)</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let driver of drivers; let i = index">
       <td scope="row">{{driver.permanentNumber}}</td>
       <td>{{driver.givenName}} {{driver.familyName}}</td>
       <td>{{driver.dateOfBirth}}</td>
       <td>{{driver.nationality}}</td>
       <td><a href="{{driver.url}}">URL of Driver Bio</a></td>
       <td><a href="{{driver.url | wikipediaMobileUrl}}">URL of Bio (Mobile)</a></td>
     </tr>
   </tbody>
 </table>
  <p class="text-info">Total # of all the service requests including Weather, Movie, and Currency is :
    <span class="badge">{{this._sharedService.totReqsMade}}</span>
  </p>
 </div>
</div>
