<!--Pass dinamically value without ''-->
<app-menu [title]="title"></app-menu>
<google-maps [circuitsData]="circuits" *ngIf="!isLoading"></google-maps>
<div class="col-md-8 col-md-offset-2" *ngIf="isLoading">
  <i class="fa fa-spinner fa-spin fa-3x loading"></i>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-3 col-xs-12" *ngIf="!isLoading">
        <div class="form-group">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Locality</th>
                <th>+ Info</th>
                <th>Photo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let circuit of circuits; let i = index">
                <td scope="row">{{circuit.circuitName}}</td>
                <td>
                  <a href="https://www.google.com/maps/@{{circuit.Location.lat}},{{circuit.Location.long}},10z" target="_blank">
                      {{circuit.Location.locality}} {{circuit.Location.country}}
                    </a>
                </td>
                <td>
                    <a href="{{circuit.url}}" title="Web browser version" target="_blank"><img src="./assets/img/internet.png"/></a>
                    <a href="{{circuit.url | wikipediaMobileUrl}}" title="Mobile version" target="_blank"><img src="./assets/img/mobile.png"/></a>
                  </td>
                <td>
                  <img [src]="circuitImages[i]" default="./assets/img/circuits/nocircuit.png"/>
                </td>
              </tr>
            </tbody>
        </table>
        </div>

    </div>
    <navigation-menus></navigation-menus>
</div>
</div>
