<app-menu [title]="'Formula 1- 2016 drivers List'"></app-menu>
<div class="col-md-8 col-md-offset-2" *ngIf="isLoading">
  <i class="fa fa-spinner fa-spin fa-3x loading"></i>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-3 col-xs-12" *ngIf="!isLoading">
        <div class="form-group">
          <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Year</th>
          <th>Web (URL)</th>
          <th>Web (Mobile)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let season of seasons; let i = index">
          <td scope="row">{{i}}</td>
          <td>{{season.season}}</td>
          <td><a href="{{season.url}}" title="Web browser version"><img src="./assets/img/internet.png"/></a></td>
          <td><a href="{{season.url | wikipediaMobileUrl}}" title="Mobile version"><img src="./assets/img/mobile.png"/></a></td>
        </tr>
      </tbody>
    </table>
        </div>

    </div>
    <navigation-menus></navigation-menus>
</div>
</div>