<div class="col-md-4 col-sm-3 col-xs-12">
  <results [type]="'last_race'"></results>
  <results [type]="test"></results>
  <div class="panel panel-default">
    <div class="panel-heading">History information</div>
    <div class="panel-body">
      <ul>
        <li>  <a [routerLink]="['/circuits/all/100']" >{{ 'CIRCUITS' | translate}}</a></li>
        <li> Races</li>
        <li> Drivers </li>
        <li> <a [routerLink]="['/drivers/champs']" >{{ 'WORLD_F1_CHAMPS_LIST' | translate }}</a> </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Info about current year championship</div>
    <div class="panel-body">
      <ul>
        <li> <a [routerLink]="['/circuits']" >Circuits</a>
        <li> Races
        <li> Drivers
      </ul>

    </div>
  </div>
</div>
