/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.icons
{
    width: 24px;
    height: 24px;
}

.container-fluid
{
  margin-top: 15px;
}


