<app-menu [title]="'Formula 1- 2016 drivers List'"></app-menu>
<div class="col-md-8 col-md-offset-2" *ngIf="isLoading">
  <i class="fa fa-spinner fa-spin fa-3x loading"></i>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-sm-3 col-xs-12" *ngIf="!isLoading">
        <div class="form-group">
          <table class="table">
          <thead>
            <tr>
              <th>#Permanent Number</th>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Nationality</th>
              <th>+ Info</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let driver of drivers; let i = index">
              <td scope="row">{{driver.permanentNumber}}</td>
              <td>
                <a [routerLink]="['/driver', driver.driverId]">
                    {{driver.givenName}} {{driver.familyName}}
                  </a>
              </td>
              <td>{{driver.dateOfBirth}}</td>
              <td><img src="{{driversNationalityFlags[i]}}" /></td>
              <!--<img class="media-object dp img-circle"
                          [src]="profilePhoto"
                          default="./assets/img/flags/Unknown.png">-->
              <td>
                  <a href="{{driver.url}}" title="Web browser version"><img src="./assets/img/internet.png"/></a>
                  <a href="{{driver.url | wikipediaMobileUrl}}}}" title="Mobile version"><img src="./assets/img/mobile.png"/></a>
                </td>
            </tr>
          </tbody>
        </table>
        </div>

    </div>
    <div class="col-md-4 col-sm-3 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">List of F1 World champions</div>
        <div class="panel-body">Panel Content</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Last race results</div>
        <div class="panel-body">Panel Content</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
</div>
</div>

<div class="col-md-8 col-md-offset-2" *ngIf="!isLoading">

</div>
